h3 {
  font-size: 1.2rem;  /* Or another value like 20px */
  text-transform: none;
  /* color: steelblue; */
}

h5 {
    text-transform: none;
}


#title-block-header h1.title {
  color: white; /* Or your desired color */
}

/* Corrected selector for the description text */
#title-block-header .description {
  color: #EAEAEA; /* A light grey/off-white */
}

#title-block-header .word {
  display: inline-block;
}

#title-block-header .word span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}